<body>
    <h1>CLIENT MASTER</h1>
    
        <div class="form-group">
            <label for="Name"> Name</label>
            <input 
            required minlength="3" 
            maxlength="10" 
            ngModel 
            name="Name" 
            #Name="ngModel" 
            (change)="log(Name)" 
            id="Name" 
            type="text" 
            class="form-control">
            <div 
              class="alert alert-danger" 
              *ngIf="Name.touched && Name.invalid">
                <div *ngIf="Name.errors.required">
                     Name is required
                </div>
                <div *ngIf="Name.errors.minlength">
                    name should be minimum 3 char
                </div>
                
    
            </div>
        </div>
      
        <button type="submit" class="btn btn-primary">submit</button>
        
    </body>